<%= form_with(model: truck, local: true) do |form| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :type_truck %>
    <%= form.select :Type_truck, ['Camión Rígido', 'Camión Articulado', 'Camión de Plataforma Abierta', 'Camión con Lona', 'Camión Frigorífico', 'Camión Cisterna', 'Camión Cerrado', 'Camión Porta-Autos', 'Camión Jaula', 'Camión Contenedor'], :class => "form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :tonnage %>
    <%= form.text_field :tonnage, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :region %>
    <%= form.text_field :region, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :commune %>
    <%= form.text_field :commune, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :user %>
    <%= form.text_field :user, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :rate %>
    <%= form.text_field :rate, :class => "form-control" %>
  </div>


  <div class="actions mt-3">
    <%= form.submit "Crear", :class => "btn btn-primary" %>
  </div>
<% end %>
